*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(246, 248, 249);
}
.white-background{
    background-color: white;
}
main{
    width: 80%;
    margin: 50px auto;
}
#schedule{
    padding: 20px 50px;
}
#button-position{
    padding-left:50px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.button-settings{
    font-size: 80%;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.inline-block{
    display: inline-block;
}
.sections-setting{
    display: block;
    margin: 10px auto;
}
.list-settings{
    text-align: left;
    list-style-position: inside;
    margin-bottom: 20px;
}
li{
    margin: 10px auto;
}
.list-button-settings{
    font-size: small;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}
