*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 248, 249);
}
.white-background{
    background-color: white;
}
main{
    width: 80%;
    margin: 50px auto;
    
}
.inline-block{
    display: inline-block;
}
.inter-font{
    font-family: 'Inter', sans-serif;
}
