/*Setting Browser Page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*Grey Backgroud*/
body{
    background-color: rgb(246, 248, 249);
}
.white-background{
    background-color: white;
}
/*Inline-block for Title and Buttons*/
.inline-block{
    display: inline-block;
}
/*Setting vertical align for logo and title's site*/
.vertical-align{
    vertical-align: middle;
    margin: 10px auto;
}

#logo-settings{
    width: auto;
    height: 50px;
    padding-left: 30px;
}
/*Main Settings*/
main{
    width: 80%;
    margin: 50px auto;
}

#buttons-position{
    padding-left:50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.buttons-settings{
    font-size: 80%;
    padding: 10px 10px;
    border-radius: 5px;
}

.blue-button{
    background-color: rgb(71, 173, 241);
    color: white;
}

.trasparent-black{
    border: 1px solid rgb(0, 0, 0, .3) ;
    color:rgb(0, 0, 0,.3) ;
}

hr{
    border: 1px solid rgb(0, 0, 0, .1) ;
}

#schedules-settings{
    padding-left:50px;
    padding-bottom:30px;
    padding-top: 20px;
}
li{
    margin: 10px auto;
}

li:nth-child(1){
    list-style-type:'\25BE';
    font-size: 30px;
}

.list-settings{
    list-style-position:initial;
    list-style-type:'\2713';
    margin-bottom: 30px;
}

.list-buttons-settings{
    font-size: small;
    padding: 5px 10px;
    border-radius: 10px;
}
/*X-checked dots*/
.x{
    list-style-type:'\2717';
}

.q1-goals{
    background-color:rgb(155, 113, 227) ;
    color: white;
}
.recruiting{
    background-color:rgb(100, 192, 169) ;
    color: white;
}
.website{
    background-color:rgb(216, 99, 161) ;
    color: white;
}
.sales{
    background-color:rgb(176, 201, 38) ;
    color: white;
}
.mobile{
    background-color:rgb(242, 158, 51) ;
    color: white;
}
